/* General */
html,
body {
    width: 100%;
    height: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;
}

/* Contact Data */

ul.contactData {
    background-color: #b0bb3a;
    width: 100%;
    padding-top: 13px;
    height: 50px;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    font-size: 17px;
}

ul.contactData li {
    color: #fff;
    display: inline-block;
}

ul.contactData li:last-child {
    margin-left: 25px;
}

ul.contactData li span {
    display: inline-block;
    position: relative;
    top: -3px;
    margin-left: 10px;
}

@media only screen and (max-width: 350px) {
    ul.contactData {
        padding-top: 14px;
        font-size: 15px;
    }
    ul.contactData li:last-child {
        margin-left: 20px;
    }
}

/* Navigation */

a.nav-link {
    color: #5b5b5b !important;
}

a.nav-link:hover {
    color: #d5db96 !important;
}

a.nav-link.active {
    color: rgb(177, 182, 121) !important;
}

/* Others */

.white {
    color: white;
}

.nopadding {
    padding: 0 !important;
}
