.Image {
  height: 400px;
}

.Wrapper {
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.61);
}

.Description {
  padding: 5px 5px 20px 5px;
}

@media (max-width: 992px) {
  .Wrapper {
    margin-top: 22px;
  }
}
